#Add Uploadthing secret and appId to setup fileupload https://uploadthing.com/

UPLOADTHING_TOKEN=

# Next auth https://next-auth.js.org/configuration/options
# Run this command to generate a a new NEXTAUTH_SECRET
# $ openssl rand -base64 32

NEXTAUTH_URL = 
NEXTAUTH_SECRET=


# Prisma
# 5432
# Supabase
DATABASE_URL= 

# PostgreSQL connection string used for migrations
DIRECT_URL=

NEXT_PUBLIC_APP_URL = 




